<div class="text-center">
  <h1 class="h4 mb-4"> Sondages </h1>

  <p class="h4 mb-4">Sondages concernant des lieux </p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"> Lien du sondage </th>
      <th scope="col"> Créateur </th>
      <th scope="col"> Lieux proposés </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sondage of this.sondagesLieux">
      <td> {{sondage.getLien()}} </td>
      <td>{{sondage.getCreateur()}}</td>
      <td>
        <div *ngFor="let lieu of sondage.getLieux()">
          <span> {{lieu.getNomLieu()}} </span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <p class="h4 mb-4">Sondages concernant des dates </p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col"> Lien du sondage </th>
      <th scope="col"> Créateur </th>
      <th scope="col"> Dates proposées </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sondage of this.sondagesDates">
      <td> {{sondage.getLien()}} </td>
      <td>{{sondage.getCreateur()}}</td>
      <td>
        <div *ngFor="let date of this.sondage.getDates()">
          <span *ngIf="date.getContientPauseDej(); then pause else notPause"></span>
          <ng-template #pause>{{date.getDate()}} (contient une pause déjeuner) </ng-template>
          <ng-template #notPause>{{date.getDate()}}</ng-template>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
