<h1> Sondages </h1>

<h2> Sondages Lieux </h2>

<div>
  <label *ngFor="let sondageL of this.sondagesLieux">
    <b>Lien : </b>{{sondageL.getLien()}} <br>
    <b>Mail du créateur : </b>{{sondageL.getCreateur()}} <br>
    <br>
    <b> Lieux : </b>
    <label *ngFor="let lieu of sondageL.getLieux()">
      {{lieu.getNomLieu()}} &nbsp;
    </label>
  </label>
</div>


<h2> Sondages Dates </h2>

<div>
  <label *ngFor="let sondageD of this.sondagesDates">
    <b>Lien : </b>{{sondageD.getLien()}} <br>
    <b>Mail du créateur : </b>{{sondageD.getCreateur()}} <br>
    <b> Dates : </b>
    <label *ngFor="let date of sondageD.getDates()">
      {{date.getDate()}} &nbsp;
    </label>
  </label>
</div>



