<header>
  <section style="text-align:center">
    <h1>{{title}}</h1>
  </section>
  <nav>
   <ul>
     <li><a routerLink="/utilisateur"> Créer un utilisateur </a> </li>
     <li><a routerLink="/utilisateurs"> Afficher les utilisateurs  </a> </li>
     <li><a routerLink="/sondage">Créer un sondage </a> </li>
     <li><a routerLink="/sondages">Afficher les sondages </a> </li>
     <li><a routerLink="/participation"> Participer à un sondage </a> </li>
     <li><a routerLink="/resultats">Voir les résultats du sondage </a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
