<form #userForm="ngForm" (ngSubmit)="saveUser(userForm)" class="text-center">

  <p class="h4 mb-4">Création d'un utilisateur</p>

  <div class="form-group mb-4">
    <label for="Nom"> Nom : </label>
    <input type="text" [(ngModel)]="nameU" name="Nom" id="Nom">
  </div>

  <div class="form-group mb-4">
    <label for="Prenom"> Prénom : </label>
    <input type="text" [(ngModel)]="firstNameU" id="Prenom" name="Prenom">
  </div>


  <div class="form-group mb-4">
    <label for="mail"> Mail : </label>
    <input type="email" [(ngModel)]="mailU" id="mail" name="mail" [pattern]="patternEmail" #emailU="ngModel" required>
  </div>


  <div *ngIf="emailU.errors?.required">
    <span class="text-danger">
      L'email est obligatoire
    </span>
  </div>

  <div *ngIf="emailU.errors?.pattern">
    <span class="text-danger">
      Le format de l'email est invalide
    </span>
  </div>
  <br>

  <div class="form-group">
    <button class="btn btn-primary" [disabled]="!userForm.form.valid"> Valider </button>
    <button type="button" class="btn btn-danger" (click)="resetForm(userForm)"> Vider les champs</button>
  </div>


</form>
