<h1> Creation d'un utilisateur </h1>
<form>
  <div class="form-group">
    <label for="Nom"> Nom : </label>
    <input type="text" [(ngModel)]="nomU" name="Nom">
  </div>

  <div class="form-group">
    <label for="Prenom"> Prénom : </label>
    <input type="text" [(ngModel)]="prenomU" name="Prenom">
  </div>


  <div class="form-group">
    <label for="Mail"> Mail : </label>
    <input type="email" [(ngModel)]="mailU" name="Mail">
  </div>

  <button type="submit" class="btn btn-primary" (click)="saveUser()">Valider </button>

</form>
