<h2> Participer à un sondage </h2>

<form #participationForm="ngForm" (ngSubmit)="participerSondage(participationForm)">

  <div>
    <label> Votre nom :
      <input type="text" [(ngModel)]="nomP" name="nomPart" required>
    </label>
  </div>

  <div>
    <label> Votre prénom :
      <input type="text" [(ngModel)]="prenomP" name="prenomPart" required>
    </label>
  </div>

  <div>
    <label> Votre mail :
      <input type="text" [(ngModel)]="mailP" name="mailPart" required>
    </label>
  </div>

  <br>

  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="sondageDate" name="sondageDate" value="date" [(ngModel)]="typeS" required>
    <label class="custom-control-label" for="sondageDate">Sondage de type date </label>
  </div>

  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="sondageLieu" name="sondageLieu" value="lieu" [(ngModel)]="typeS" required>
    <label class="custom-control-label" for="sondageLieu">Sondage de type Lieu</label>
  </div>

  <br>

  <div *ngIf="typeS == 'date'">
    <br>
    <label> Choisissez un sondage :
      <select [(ngModel)]="lienSondageD" (ngModelChange)="chercherDates()" name="sondage">
        <option [value]="sondage.getLien()" *ngFor="let sondage of this.listSD">
          {{sondage.getLien()}}
        </option>
      </select>
    </label>

    <label> Choisissez une date  :
      <select [(ngModel)]="dateChoisie" name="date">
        <option *ngFor="let date of this.dates">
          {{date}}
        </option>
      </select>
    </label>
  </div>

  <br>
  <div *ngIf="typeS == 'lieu'">
    <label> Choisissez un sondage :
      <select [(ngModel)]="lienSondageL" (ngModelChange)="chercherLieux()" name="sondage">
        <option [value]="sondage.getLien()" *ngFor="let sondage of this.listSL">
          {{sondage.getLien()}}
        </option>
      </select>
    </label>

    <label> Choisissez un lieu  :
      <select [(ngModel)]="lieuChoisi" name="lieu">
        <option *ngFor="let lieu of this.lieux">
          {{lieu}}
        </option>
      </select>
    </label>
  </div>
  <br>

  <div class="form-group">
    <button class="btn btn-primary" [disabled]="!participationForm.form.valid"> Valider </button>
    <button type="button" class="btn btn-danger" (click)="resetForm(participationForm)"> Vider les champs</button>
  </div>


</form>
