<form #sondageForm="ngForm" (ngSubmit)="createSondage(sondageForm)" class="text-center">

  <p class="h4 mb-4">Création d'un sondage</p>

  <div class="form-group mb-4">
    <label> Lien du sondage :
      <input type="text" [(ngModel)]="linkS" name="lien" required>
    </label>
  </div>

  <div class="form-group mb-4">
    <label> Votre Mail :
      <input type="text" [(ngModel)]="mailC" [pattern]="patternEmail" #mailCrea="ngModel" name="lien" required>
    </label>
  </div>

  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="sondageDate" name="sondageDate" value="date" [(ngModel)]="typeS" required>
    <label class="custom-control-label" for="sondageDate">Sondage de type date </label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="sondageLieu" name="sondageLieu" value="lieu" [(ngModel)]="typeS" required>
    <label class="custom-control-label" for="sondageLieu">Sondage de type Lieu</label>
  </div>

  <div *ngIf="this.typeS == 'lieu'">
    <br>
    <div class="form-group mb-4">
      <label> Lieu 1 :
        <input type="text" [(ngModel)]="placeR1" name="lieu1" required>
      </label>
    </div>
    <div class="form-group mb-4">
      <label> Lieu 2 :
        <input type="text" [(ngModel)]="placeR2" name="lieu2" required>
      </label>
    </div>
    <div class="form-group mb-4">
      <label> Lieu 3 :
        <input type="text" [(ngModel)]="placeR3" name="lieu3" required>
      </label>
    </div>
  </div>

  <div *ngIf="this.typeS == 'date'">
    <br>
    <div class="form-group mb-4">
      <label for="dateU"> Date 1 :
        <input placeholder="yyyy-mm-dd" name="dateU" id="dateU" [(ngModel)]="date1" ngbDatepicker #d1="ngbDatepicker" readonly>
        <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button">Chercher une date</button>
      </label>
      <div class="form-group mb-4">
        <input class="form-check-input" type="checkbox" id="pauseDej1" name="pauseDej1" [(ngModel)]="break1">
        <label for="pauseDej1">Contient une pause déjeuner </label>
      </div>
    </div>

    <div class="form-group mb-4">
      <label for="dateD"> Date 2 :
        <input placeholder="yyyy-mm-dd" name="dateD" id="dateD" [(ngModel)]="date2" ngbDatepicker #d2="ngbDatepicker" readonly required="">
        <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">Chercher une date</button>
      </label>
      <div class="form-group mb-4">
        <input class="form-check-input" type="checkbox" id="pauseDej2" name="pauseDej2" [(ngModel)]="break2">
        <label for="pauseDej2">Contient une pause déjeuner </label>
      </div>
    </div>

    <div class="form-group mb-4">
      <label for="dateT"> Date 3 :
        <input placeholder="yyyy-mm-dd" name="dateT" id="dateT" [(ngModel)]="date3" ngbDatepicker #d="ngbDatepicker" readonly required>
        <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">Chercher une date</button>
      </label>
      <div class="form-group mb-4">
        <input class="form-check-input" type="checkbox" id="pauseDej3" name="pauseDej3" [(ngModel)]="break3">
        <label for="pauseDej3">Contient une pause déjeuner </label>
      </div>
    </div>

  </div>
  <br>
  <br>

  <div *ngIf="mailCrea.errors?.required || mailCrea.errors?.required ">
      <span class="text-danger">
        Le mail du créateur et le lien du sondage sont obligatoires
      </span>
  </div>

  <div *ngIf="mailCrea.errors?.pattern">
      <span class="text-danger">
        Le format de l'email est invalide
      </span>
  </div>

  <br>

  <div class="form-group">
    <button class="btn btn-primary" [disabled]="!sondageForm.form.valid"> Valider </button>
    <button type="button" class="btn btn-danger" (click)="resetForm(sondageForm)"> Vider les champs</button>
  </div>
</form>
