<h2> Création d'un sondage </h2>

<form #sondageForm="ngForm" (ngSubmit)="createSondage(sondageForm)">

  <div class="form-group">
    <label> Lien du sondage :
      <input type="text" [(ngModel)]="lienS" name="lien" #lienSond="ngModel" required>
    </label>
  </div>

  <div class="form-group">
    <label> Votre Mail :
      <input type="text" [(ngModel)]="mailC" [pattern]="patternEmail" #mailCrea="ngModel" name="lien" required>
    </label>
  </div>

  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="sondageDate" name="sondageDate" value="date" [(ngModel)]="typeS" required>
    <label class="custom-control-label" for="sondageDate">Sondage de type date </label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="sondageLieu" name="sondageLieu" value="lieu" [(ngModel)]="typeS" required>
    <label class="custom-control-label" for="sondageLieu">Sondage de type Lieu</label>
  </div>

  <div *ngIf="this.typeS == 'lieu'">
    <div class="form-group">
      <label> Lieu 1 :
        <input type="text" [(ngModel)]="lieuR1" name="lieu1" required>
      </label>
    </div>
    <div>
      <label> Lieu 2 :
        <input type="text" [(ngModel)]="lieuR2" name="lieu2" required>
      </label>
    </div>
    <div>
      <label> Lieu 3 :
        <input type="text" [(ngModel)]="lieuR3" name="lieu3" required>
      </label>
    </div>
  </div>

  <div *ngIf="this.typeS == 'date'">
    <div class="form-group">
      <label> Date 1 :
        <input type="text" [(ngModel)]="date1" #dateUne="ngModel" [pattern]="patternDate" name="date1" required>
      </label>
      <div>
        <input type="checkbox" id="pauseDej1" name="pauseDej1" [(ngModel)]="pauseDej1">
        <label for="pauseDej1">Contient une pause déjeuner</label>
      </div>
    </div>
    <div>
      <label> Date 2 :
        <input type="text" [(ngModel)]="date2" #dateDeux="ngModel" [pattern]="patternDate" name="date2" required>
      </label>
      <div>
        <input type="checkbox" id="pauseDej2" name="pauseDej2" [(ngModel)]="pauseDej2">
        <label for="pauseDej2">Contient une pause déjeuner </label>
      </div>
    </div>
    <div>
      <label> Date 3 :
        <input type="text" [(ngModel)]="date3" #dateTrois="ngModel" [pattern]="patternDate" name="date3" required>
      </label>
      <div>
        <input type="checkbox" id="pauseDej3" name="pauseDej3" [(ngModel)]="pauseDej3">
        <label for="pauseDej3">Contient une pause déjeuner </label>
      </div>
    </div>
    <div *ngIf="dateUne.errors?.pattern || dateDeux.errors?.pattern || dateTrois.errors?.pattern">
      <span class="text-danger">
         Le format de date attendu est dd-mm-yyyy
      </span>
    </div>
  </div>
  <br>
  <br>

  <div *ngIf="mailCrea.errors?.required || mailCrea.errors?.required ">
      <span class="text-danger">
        Le mail du créateur et le lien du sondage sont obligatoires
      </span>
  </div>

  <div *ngIf="mailCrea.errors?.pattern">
      <span class="text-danger">
        Le format de l'email est invalide
      </span>
  </div>

  <br>

  <div class="form-group">
    <button class="btn btn-primary" [disabled]="!sondageForm.form.valid"> Valider </button>
    &nbsp;
    <button type="button" class="btn btn-danger" (click)="resetForm(sondageForm)"> Vider les champs</button>
  </div>
</form>
